<!--If the user clicks on the Add button, then it should use the addVehicle route and take the user
    to the addVehicle.ejs file. When the user clicks on the Save button it should submit the new record
    and add it to the table and then redirect to the display vehicle
    page showing all the records in the table.-->

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Vehicle</title>
    </head>
    <body>
        <h1>Add Vehicle</h1>
        <form method="post" action="addVehicle">
            
            <label for="vDescription">Description: </label>
            <input type="text" id="vDescription" name="vDescription">
            <br>
            <label for="vType">Type: </label>
            <input type="text" id="vType" name="vType">
            <br>

    
            <br><br>
            <button type="submit">Save Changes</button>
        </form>
    </body>
    </html>