<!--If the user clicks on the Add button, then it should use the addVehicle route and take the user
    to the addVehicle.ejs file. When the user clicks on the Save button it should submit the new record
    and add it to the table and then redirect to the display vehicle
    page showing all the records in the table.-->

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Add Vehicle</title>
    </head>
    <body>

        <!--Header-->
        <div class="header">
            <h1>Add Vehicle</h1>
        </div>

        <!--Top Nav-->
        <div class="topnav">
      
            <!--Nav Item-->
            <div class="topnav item">
                <a href="/vehicledb">Inventory</a>
            </div>

             <!--Nav Item-->
             <div class="topnav item">
                <a href="/addVehicle">Add Vehicle</a>
            </div>

        </div>

        <!--Main Content-->
        <div class="flex-container">

        
            <!--Main Content-->
            <div class="column">
                <form method="post" action="addVehicle" class="customForm">           
                    <fieldset class="customForm"><legend>Model:</legend>
                    <label for="vDescription">Description: </label>
                    <input type="text" id="vDescription" name="vDescription">                   
                    <label for="vYear">Year: </label>
                    <input type="text" id="vYear" name="vYear">                    
                    <label for="vMilage">Mileage: </label>
                    <input type="text" id="vMilage" name="vMilage">
                    </fieldset>       
                    <fieldset class=""><legend>Type: </legend>
                    <label for="vType">Car</label>
                    <input type="radio" id="vType" name="vType" value="C">                    
                    <label for="vType">Truck</label>
                    <input type="radio" id="vType" name="vType" value="T">
                    <label for="vType">Bike</label>
                    <input type="radio" id="vType" name="vType" value="B">          
                    <label for="vType">Motorcycle</label>
                    <input type="radio" id="vType" name="vType" value="M">
                    </fieldset>
        
                    <fieldset><legend>Still in Use?</legend>
                    <input type="radio" id="vStillUsing" name="vStillUsing" value="Y">
                    <label for="vStillUsing">Yes</label>
                    <input type="radio" id="vStillUsing" name="vStillUsing" value="N">
                    <label for="vStillUsing">No</label>
                    </fieldset>
                    <br>
                    <br>
                    <button class="customButton" type="submit">Add Vehicle</button>
                    <a href="/vehicledb">Cancel</a>
                </form>
            </div>
        </div>
    </body>
    </html>