<!--Alex Wirick, Quinn Karpowitz, Barrett Banfield
    IS303 W2022 Group Project 3
    When the user clicks "add vehicle" from the top navigation, this page will be displayed.
    The use enters the new vehicle's information here and then the page is submitted using a post
    and the information is entered into the database-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Add Vehicle</title>
    </head>
    <body>
        <!--Header-->
        <div class="header">
            <h1>Add a Vehicle to Inventory</h1>
        </div>
        <!--Top Nav-->
        <div class="topnav">
            <!--Nav Item-->
            <div class="topnav item">
                <a href="/">Home</a>
            </div>
            <!--Nav Item-->
            <div class="topnav item">
                <a href="/vehicledb">Inventory</a>
            </div>
                <!--Nav Item-->
                <div class="topnav item">
                <a href="/addVehicle">Add Vehicle</a>
            </div>
        </div>
        <!--Main Content-->
        <div class="flex-container main">  
            <div class="column">
                <h3 class="subhead">New Vehicle Information</h3>
                <form method="post" action="addVehicle" class="customForm">           
                    <fieldset><legend>Model:</legend>
                    <label for="vDescription">Description: </label>
                    <input required type="text" id="vDescription" name="vDescription">
                    <br>                   
                    <label for="vYear">Year: </label>
                    <input required type="number" id="vYear" name="vYear">
                    <br>                    
                    <label for="vMilage">Mileage: </label>
                    <input required type="number" id="vMilage" name="vMilage">
                    </fieldset>       
                    <fieldset class=""><legend>Type: </legend>
                    <label for="vType">Car</label>
                    <input required type="radio" id="vType" name="vType" value="C">                    
                    <label for="vType">Truck</label>
                    <input required type="radio" id="vType" name="vType" value="T">
                    <label for="vType">Bike</label>
                    <input required type="radio" id="vType" name="vType" value="B">          
                    <label for="vType">Motorcycle</label>
                    <input required type="radio" id="vType" name="vType" value="M">
                    </fieldset>
                    <fieldset><legend>Still in Use?</legend>
                    <input type="radio" id="vStillUsing" name="vStillUsing" value="Y">
                    <label for="vStillUsing">Yes</label>
                    <input type="radio" id="vStillUsing" name="vStillUsing" value="N">
                    <label for="vStillUsing">No</label>
                    </fieldset>
                    <br>
                    <button class="customButton" type="submit">Add Vehicle</button>
                    <a class="cancelbutton" href="/vehicledb">Cancel</a>
                </form>
            </div>
        </div>
        <br>
        <!--Footer-->
        <div class="footer">
            IS303 Project 3 <br>
            Alex Wirick, Quinn Karpowitz, Barrett Banfield
        </div>
    </body>
</html>