<!--The displayVehicle.ejs file should display all the records from the vehicle table. It should also have a delete button on the left of each record and an edit button on the right of the record.
Somewhere in this page there should be a button for adding a new record.
The delete button should route to deleteVehicle and should receive the vehicle_id. This is a post method and should delete the vehicle from the vehicle table. If there is an error, then return a 500 status and the json of the err. Also display the err to the console log. If the delete works then redirect back to ("/displayvehicle") which is renders the displayVehicle.ejs file.
The edit button should use the editVehicle route and pass the data from the record to the editVehicle.ejs file-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Page Title</title>
</head>
<body>

    <!--Header-->
    <div class="header">
        <h1>Header Title</h1>
    </div>

    <!--Top Nav-->
    <div class="topnav">

        <!--Nav Item-->
        <div class="topnav item" href="/additem">
            <a href="/additem">Add Vehicle</a>
        </div>

        <!--Nav Item-->
        <div class="topnav item" href="/additem">
            <a href="/additem">Add Item</a>
        </div>

        <!--Nav Item-->
        <div class="topnav item">
            <a href="/additem">Add Item</a>
        </div>

    </div>

    <div class="flex-container">
        <!--Left Column-->
        <div class="column side">
            Left Column
        </div>
    

        <!--Middle Column-->
        <div class="column middle">
            Middle Column
        </div>

        <!--Right Column-->
        <div class="column side">
            Right Column
        </div>
    </div>
    <!--Footer-->
    <div>

    </div>
    <script>
 
    </script>
</body>
</html>