/*Global CSS*/
.icon {
    height: 25px;
    width: 20px;
}

.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Flex containers*/
.flex-container {
    display: flex;
  }

.flex-container main{
  display: flex;
  height: 80%;
}

/*Flex Div */
.flex-container div {
background-color: #f1f1f1;
margin: 10px;
padding: 20px;
font-size: 30px;
}

.flex-container  table {
  display: flex;
    text-align: center;
}

.customTable{
    border-spacing: 25px;
    font-size:large;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px;  
}

/*Page Layout*/
.header{
    text-align: center;  
}

/* Navbar container */
.topnav{
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: gray;
    justify-content: right;
  }

/* Navbar container */
.topnav.item {
    text-align: center;
    width: 200px;
    overflow: hidden;
  }

/* Navbar links */
.topnav.item > a {
    width: 100%;
    padding-top: 10px;
    height: 30px;
    color: #333;
    text-decoration: none;
    font-size: large;
    border: 0px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  /* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.column {
    width: 100%;
    height: 680px;
  }
  
  /* Left and right column */
.column.side {
    width: 25%;
  }
  
  /* Middle column */
.column.middle {
    width: 50%;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F1F1F1;
    padding: 10px;
    height:50px;
    text-align: center;
  }
/*end of layout*/

.customForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.column.side.invisible {
  opacity: 0%;
  visibility: hidden;
}

.customButton{
  display: flex;
  font: bold 15px Arial;
  padding: 10px;
  border: 1px;
  border-style: solid;
  background-color: rgb(204, 204, 204);
}


.cancelbutton {
  width: fit-content;
  display: flex;
  font: bold 15px Arial;
  text-decoration: none;
  background-color: rgb(204, 204, 204);
  color: #333333;
  border: 1px;
  border-style: solid;
  padding: 10px 22px 10px 22px;
  margin-top: 15px;
}

.subhead{
  text-align: center;
  margin-bottom: 0px;
}